<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Покупка</title>
</head>
<body>

<form class="remove" method="POST">
    <table border="1">
        <tr>
            <th>Откуда</th>
            <th>Куда</th>
            <th>Время вылета</th>
            <th>Место</th>
            <th>Цена</th>
            <th>Покупка</th>
        </tr>
        <tr th:each="ticket : ${tickets}">
            <td th:text="*{ticket.departureAirport.city.name}"></td>
            <td th:text="*{ticket.arrivalAirport.city.name}"></td>
            <td th:text="*{ticket.departureTime}"></td>
            <td th:text="*{ticket.seat}"></td>
            <td th:text="*{ticket.price}"></td>
            <td>
                <input th:if="${ticket.passenger}" disabled type="submit" value="Забронировано">
                <input th:unless="${ticket.passenger}" th:formaction="@{buy(id = ${ticket.id})}" type="submit" value="Купить">
            </td>
        </tr>
    </table>
</form>

</body>
</html>