<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/account.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ticket.css}"/>
    <title>История заказов</title>
</head>
<body>

<header>
    <div class="header_main">
		<span class="usermenu">
			<span class="username" th:utext="${username}"></span>
			<div class="dropmenu">
					<a th:href="@{/account/profile}">Личный кабинет</a>
					<a th:href="@{/logout}">Выход</a>
			</div>
		</span>
        <span class="balance">
			<span class="balance_value" th:text="'Баланс: ' + ${balance} + ' &#8381;'"></span>
		</span>
    </div>
</header>

<div class="wrapper">
    <div class="nav">
        <div class="account_menu">
            <ul>
                <li><a th:href="@{profile}">Аккаунт</a></li>
                <li><a th:href="@{passenger}">Ваши данные</a></li>
                <li><a  th:href="@{orders}" >Активные заказы</a></li>
                <li><a class="selected">История заказов</a></li>
                <li><a th:href="@{payment}">История операций</a></li>
                </br>
                <li><a th:if="${isAdmin}" th:href="@{users}">Пользователи</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="main_title">Личный кабинет</div>

        <div class="component">
            <div class="sub_title">Поиск</div>
            <div class="search">
                <form class="period_form" method="POST" th:object="${historySearch}" th:action="@{history} + '?find'">
                    <label>c</label> <input type="date" th:field="*{startDate}" required/>
                    <label>по</label> <input type="date" th:field="*{endDate}" required/>
                    <input class="main_button" type="submit" value="Искать"/>
                    <div class="error">
                        <div th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>
                        <div th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></div>
                    </div>
                </form>
            </div>
        </div>

        <div class="component">
            <div class="sub_title">История заказов</div>
            <table class="orders ex_table ">
                <thead>
                <tr>
                    <td>№ билета</td>
                    <td>Дата бронирования</td>
                    <td>Вылет</td>
                    <td>Прибытие</td>
                    <td>Цена</td>
                    <td>Действие</td>
                </tr>
                </thead>
                <tbody th:each="order : ${orders}" th:class="${order.id}">
                <tr class="interact">
                    <td th:text="*{order.ticket.id}"></td>
                    <td th:text="*{order.date} + ' ' + *{order.time}"></td>
                    <td><span th:text="*{order.ticket.departureAirport.city.name}"> </span><br/>
                        <span th:text="*{#temporals.format(order.ticket.departureDate, 'dd.MM.yy hh:mm')}"></span></td>
                    <td><span th:text="*{order.ticket.arrivalAirport.city.name}"> </span><br/>
                        <span th:text="*{#temporals.format(order.ticket.arrivalDate, 'dd.MM.yy hh:mm')}"></span></td>
                    <td th:text="*{order.ticket.price} + ' &#8381;'"></td>
                    <td th:text="*{order.type.desc}"></td>
                </tr>
                <tr class="col_info" style="display:none">
                    <td colspan="6">
                        <div class="ticket">
                            <div class="side_container">
                                <div class="main_info">
                                    <span class="time" th:text="*{#temporals.format(order.ticket.departureDate, 'hh:mm')}"></span>
                                    <span class="date" th:text="*{#temporals.format(order.ticket.departureDate, 'dd.MM.yy')}"></span>
                                    <span class="city" th:text="*{order.ticket.departureAirport.city.name}"></span>
                                </div>
                                <div class="gate" th:text="'№ выхода: ' + *{order.ticket.gate}"></div>
                                <div class="seat" th:text="'Место: ' + *{order.ticket.seat}"></div>
                            </div>
                            <div class="mid_container">
                                <div class="flight_time" th:text="*{#temporals.format(order.ticket.flightDuration, 'hh:mm')}"></div>
                                <div class="plane_icon"> &#9992;</div>
                            </div>
                            <div class="side_container">
                                <div class="main_info">
                                    <span class="time" th:text="*{#temporals.format(order.ticket.arrivalDate, 'hh:mm')}"></span>
                                    <span class="date" th:text="*{#temporals.format(order.ticket.arrivalDate, 'dd.MM.yy')}"></span>
                                    <span class="city" th:text="*{order.ticket.arrivalAirport.city.name}"></span>
                                </div>
                                <div class="price" th:text="*{order.ticket.price} + '&#8381;'"></div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>