<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/account.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ticket.css}"/>
    <title>История заказов</title>
</head>
<body>

<div class="wrapper">
    <header>
        <span class="username"><text th:utext="${username}"></text> <a th:href="@{/logout}">[Log out]</a></span>
    </header>

    <main>

        <div class="menu">
            <a th:href="@{profile}">Профиль</a>
            <a th:href="@{passenger}">Пассажиры</a>
            <a th:href="@{orders}">Заказы</a>
            <a th:href="@{history}">История</a>
            </br>
            <a th:if="${isAdmin}" th:href="@{users}">Пользователи</a>
        </div>

        <div class="content">
            <div class="title"><b>История заказов</b></div>

            <div class="date_search">
                <form method="POST" th:object="${searchForm}" th:action="@{history/search}">
                    <label>c: </label> <input type="date" th:field="*{startDate}" required/>
                    <label>по: </label> <input type="date" th:field="*{endDate}" required/>
                    <input class="button" type="submit" value="Искать"/>
                </form>
            </div>

            <div class="ticket" th:each="ticket : ${tickets}">
                <div class="sideContainer">
                    <div class="main_info">
                        <span class="time" th:text="*{#temporals.format(ticket.departureDate, 'hh:mm')}"></span>
                        <span class="date" th:text="*{#temporals.format(ticket.departureDate, 'dd.MM.yyy')}"></span>
                        <span class="city" th:text="*{ticket.departureAirport.city.name}"></span>
                    </div>
                    <div class="gate" th:text="'№ выхода: ' + *{ticket.gate}"></div>
                    <div class="seat" th:text="'Место: ' + *{ticket.seat}"></div>
                </div>

                <div class="midContainer">
                    <div class="ticketNo" th:text="'#' + *{ticket.id}"></div>
                    <div class="flightTime" th:text="*{#temporals.format(ticket.flightDuration, 'hh:mm')}"></div>
                    <br>
                    <div th:if="*{ticket.flight}" class="flightNo" th:text="'Рейс: ' + *{ticket.flight.flightNo}"></div>
                </div>

                <div class="sideContainer">
                    <div class="main_info">
                        <span class="time" th:text="*{#temporals.format(ticket.arrivalDate, 'hh:mm')}"></span>
                        <span class="date" th:text="*{#temporals.format(ticket.arrivalDate, 'dd.MM.yyy')}"></span>
                        <span class="city" th:text="*{ticket.arrivalAirport.city.name}"></span>
                    </div>
                    <div class="price"><b th:text="*{ticket.price}"></b> p.</div>
                </div>

            </div>
        </div>

    </main>
</div>
</body>
</html>

