<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Info</title>
</head>
<body>

Go to <a th:href="@{sign}"}>Registration form</a>

<div>
    <h1>Account Info:</h1>
    <div> <b>Username: </b> <text th:utext="${account.userName}"> ... </text> </div>
    <div> <b>E-mail: </b> <text th:utext="${account.email}"> ... </text> </div>
    <div> <b>Password: </b> <text th:utext="${account.password}"> ... </text> </div>
</div>

</body>
</html>