<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Аккаунт</title>
</head>
<body>

<text th:utext="${username}"></text>
<a th:href="@{/logout}">[Log out]</a>
<main>

    <div class="menu">
        <a th:href="@{main}">Профиль</a>
        <a th:href="@{passenger}">Пассажиры</a>
        <a th:href="@{orders}">Заказы</a>
        <br>
        <a th:if="${users}" th:href="@{users}">Пользователи</a>
    </div>

    <div class="content">
        <div class="title"><b>Информация об аккаунте</b></div>
        <form class="info" th:action="@{updateAccount}" th:object="${accountForm}" method="POST">
            <label> Имя пользователя: </label> <input type="text" th:field="*{username}" disabled/> <br/>
            <label> E-mail: </label> <input type="text" th:field="*{email}" required/> <br/>
            <input type="submit" value="Сохранить"/>
        </form>
    </div>

</main>
</body>
</html>