<!DOCTYPE html>
<html ng-app="myApp"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/account.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ticket.css}"/>
    <script th:src="@{/js/interact-table.js}" defer></script>
    <title>Активные заказы</title>
</head>
<body>

<header>
    <div class="header_main">
		<span class="usermenu">
			<span class="username" th:utext="${username}"></span>
			<div class="dropmenu">
					<a th:href="@{/account/profile}">Личный кабинет</a>
					<a th:href="@{/logout}">Выход</a>
			</div>
		</span>
        <span class="balance">
			<span class="balance_value" th:text="'Баланс: ' + ${balance} + ' &#8381;'"></span>
		</span>
    </div>
</header>

<div class="wrapper">
    <div class="nav">
        <div class="account_menu">
            <ul>
                <li><a th:href="@{profile}">Аккаунт</a></li>
                <li><a th:href="@{passenger}">Ваши данные</a></li>
                <li><a class="selected">Активные заказы</a></li>
                <li><a th:href="@{history}">История заказов</a></li>
                <li><a th:href="@{payment}">История операций</a></li>
                </br>
                <li><a th:if="${isAdmin}" th:href="@{users}">Пользователи</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="main_title">Личный кабинет</div>
        <div class="component">
            <div class="sub_title">Список активных билетов</div>

            <br/><a class="" th:href="@{/account/booking}"
                     style="display: block; margin-left: 20px;">Тестовая страница для бронирования</a><br />

            <table class="orders ex_table">
                <thead>
                <tr>
                    <td>№ билета</td>
                    <td>Дата бронирования</td>
                    <td>Вылет</td>
                    <td>Прибытие</td>
                    <td>Цена</td>
                    <td>Статус</td>
                </tr>
                </thead>
                <tbody th:each="ticket : ${tickets}">
                <tr class="interact" onclick="showInfo(this)">
                    <td th:text="*{ticket.id}"></td>
                    <td>24.02.19 14:30</td>
                    <td><span th:text="*{ticket.departureAirport.city.name}"> </span><br/>
                        <span th:text="*{#temporals.format(ticket.departureDate, 'dd.MM.yy hh:mm')}"></span></td>
                    <td><span th:text="*{ticket.arrivalAirport.city.name}"> </span><br/>
                        <span th:text="*{#temporals.format(ticket.arrivalDate, 'dd.MM.yy hh:mm')}"></span></td>
                    <td th:text="*{ticket.price} + ' &#8381;'"></td>
                    <td>Забронирован</td>
                </tr>
                <tr class="col_info with_nav"  style="display:none">
                    <td colspan="6">
                        <div class="ticket">
                            <div class="side_container">
                                <div class="main_info">
                                    <span class="time" th:text="*{#temporals.format(ticket.departureDate, 'hh:mm')}"></span>
                                    <span class="date" th:text="*{#temporals.format(ticket.departureDate, 'dd.MM.yy')}"></span>
                                    <span class="city" th:text="*{ticket.departureAirport.city.name}"></span>
                                </div>
                                <div class="gate" th:text="'№ выхода: ' + *{ticket.gate}"></div>
                                <div class="seat" th:text="'Место: ' + *{ticket.seat}"></div>
                            </div>
                            <div class="mid_container">
                                <div class="flight_time" th:text="*{#temporals.format(ticket.flightDuration, 'hh:mm')}"></div>
                                <div class="plane_icon"> &#9992;</div>
                            </div>
                            <div class="side_container">
                                <div class="main_info">
                                    <span class="time" th:text="*{#temporals.format(ticket.arrivalDate, 'hh:mm')}"></span>
                                    <span class="date" th:text="*{#temporals.format(ticket.arrivalDate, 'dd.MM.yy')}"></span>
                                    <span class="city" th:text="*{ticket.arrivalAirport.city.name}"></span>
                                </div>
                                <div class="price" th:text="*{ticket.price} + '&#8381;'"></div>
                            </div>
                            <form method="POST" th:action="@{orders/cancel(id = ${ticket.id})}">
                                <input class="main_button" type="submit" value="Отмена">
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>