<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/account.css}"/>
    <title>Пассажиры</title>
</head>
<body>

<div class="wrapper">
    <header>
        <span class="username"><text th:utext="${username}"></text> <a th:href="@{/logout}">[Log out]</a></span>
    </header>

    <main>

        <div class="menu">
            <a th:href="@{profile}">Профиль</a>
            <a th:href="@{passenger}">Пассажиры</a>
            <a th:href="@{orders}">Заказы</a>
            <br/>
            <a th:if="${isAdmin}" th:href="@{users}">Пользователи</a>
        </div>

        <div class="content">
            <div class="title"><b>Информация о пассажире</b></div>
            <form class="passenger_form" th:action="@{passenger/update}" method="POST" th:object="${passengerForm}">
                <label>Имя: </label> <input class="input_value" type="text" th:field="*{firstName}" required/> <br/>
                <label>Фамилия: </label> <input class="input_value" type="text" th:field="*{lastName}" required/> <br/>
                <label>Отчество: </label> <input class="input_value" type="text" th:field="*{middleName}" required/> <br/>
                <label>Пол: </label>
                <select th:field="*{sex}" required>
                    <option value="мужской">мужской</option>
                    <option value="женский">женский</option>
                </select> <br/>
                <label>Дата рождения: </label> <input class="input_value" type="date" th:field="*{birthday}" required/> <br/>
                <label>Гражданство: </label>
                <select th:field="*{citizenship}" required>
                    <option value="Российская Федерация">Российская Федерация</option>
                </select> <br/>
                <label>Номер документа: </label> <input class="input_value" type="text" th:field="*{documentNo}" required/> <br/>
                <label>Срок действия до: </label> <input class="input_value" type="date" th:field="*{documentExpiry}" required/> <br/>
                <input class="button"  type="submit" value="Сохранить"/>
            </form>
        </div>
    </main>
</div>
</body>
</html>

