<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/account.css}"/>
    <title>Платежи</title>
</head>
<body>

<div class="wrapper">
    <header>
        <span class="username"><text th:utext="${username}"></text> <a th:href="@{/logout}">[Log out]</a></span>
    </header>

    <main>

        <div class="menu">
            <a th:href="@{profile}">Профиль</a>
            <a th:href="@{passenger}">Пассажиры</a>
            <a th:href="@{orders}">Заказы</a>
            <a th:href="@{history}">История</a>
            <a th:href="@{payment}">Платежи</a>
            </br>
            <a th:if="${isAdmin}" th:href="@{users}">Пользователи</a>
        </div>

        <div class="content">
            <div class="title"><b>Платежи</b></div>

            Баланс:
            <text th:text="${balance}"></text>

            <form class="period_form" method="POST" th:object="${paymentSearch}" th:action="@{payment} + '?find'">

                <label>c: </label> <input th:field="*{startDate}" type="date" required/>
                <label>по: </label> <input th:field="*{endDate}" type="date" required/>
                <select th:field="*{paymentType}">
                    <option value="ALL">Все действия</option>
                    <option value="DEPOSIT">Пополнение счёта</option>
                    <option value="WITHDRAW">Списание со счёта</option>
                </select>
                <input class="button" type="submit" value="Искать"/>
                <div class="error">
                    <div th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>
                    <div th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></div>
                </div>

            </form>

            <table border="1" style="border-collapse: collapse">
                <tr>
                    <th>Дата</th>
                    <th>Зачисление</th>
                    <th>Списание</th>
                </tr>
                <tr th:each="payment : ${payments}">
                    <td th:text="${payment.date}"></td>
                    <td>
                        <text th:if="${payment.type == payment.type.DEPOSIT}" th:text="' + ' + ${payment.value}"></text>
                    </td>
                    <td>
                        <text th:if="${payment.type == payment.type.WITHDRAW}"
                              th:text="' - ' + ${payment.value}"></text>
                    </td>
                </tr>
            </table>

        </div>

    </main>
</div>
</body>
</html>

