<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/account.css}"/>
    <title>Аккаунт</title>
</head>
<body>

<div class="wrapper">
    <header>
        <span class="username"><text th:utext="${username}"></text> <a th:href="@{/logout}">[Log out]</a></span>
    </header>
    <main>

        <div class="menu">
            <a th:href="@{profile}">Профиль</a>
            <a th:href="@{passenger}">Пассажиры</a>
            <a th:href="@{orders}">Заказы</a>
            <a th:href="@{history}">История</a>
            <br/>
            <a th:if="${isAdmin}" th:href="@{users}">Пользователи</a>
        </div>

        <div class="content">
            <div class="title"><b>Информация об аккаунте</b></div>
            <form class="profile_form" th:action="@{profile/update}" th:object="${accountForm}" method="POST">
                <label>Имя пользователя: </label> <input class="input_value" type="text" th:field="*{username}" disabled/> <br/>
                <label>E-mail: </label> <input class="input_value" type="text" th:field="*{email}" required/> <br/>
                <input class="button" type="submit" value="Сохранить"/>
            </form>
        </div>

    </main>
</div>
</body>
</html>