<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="screen" />
    <title>Вход</title>
</head>
<body>

<div class="mainBox">
    <div class="title"><b>Вход</b></div>
    <form class="login" th:action="@{/login}" method="post">
        <label> Имя пользователя: </label> <input type="text" name="username" />
        <label> Пароль: </label> <input type="password" name="password" />
        <div class="error">
            <div th:if="${param.error}">Неправильное имя пользователя или пароль.</div>
            <div th:if="${param.logout}">Вы вышли из аккаунта. </div>
        </div>
        <input type="submit" value="Войти"/> или <a th:href="@{/registration}">Зарегистрироваться</a>
    </form>
</div>

</body>
</html>


