.reg_block,
.login_block {
    width: 310px;
	background: white;
    border: 1px solid;
    border-color: #c0deff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -156px;
}

.reg_block {
    margin-top: -208px;
}

.reg_block .error_block {
    position: fixed;
    margin-left: 320px;
    margin-top: -48px;
    box-shadow: 0 2px 4px #c2c2c2;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.1s ease-in;
}

.login_block {
    margin-top: -141px;
}

.title {
	width: 310px;
	height: 32px;
	padding-top: 12px;
	font-size: 18px;
	text-align: center;
	background: #7ea9f3;
	color: white;
}

form {
	padding: 10px;
}

form label {
	padding-left: 2px;
}

.field {
	height: 30px;
	font-size: 16px;
	padding: 4px 10px;
    margin-bottom: 8px;
	width: 270px;
	border: 1px solid #c0deff;
}

.button {
	height: 40px;
	font-size: 16px;
	width: 292px;
	border: none;
	margin: 8px 0px;
	background: #7ea9f3;
	color: white;
	box-shadow: 0 2px 3px #ded2d2;
    transition: all 0.3s ease-in;
}

.button:hover {
	cursor: pointer;
	background: #4583ef;
}

