body {
	background: #f8fbff;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a {
    color: #005aff; 
	text-decoration: none;
}

a:hover {   
    color: #238bff;
	text-decoration: underline;
}

form input[disabled] {
    background: #dcecff;
    color: #a71818;
}

.wrapper {
	margin: 20px auto;
	background: white;
	width: 1000px;
	min-height: 800px;
	border: 1px solid #e2f0ff;
}

header {
	height: 25px;
}



.error {
	min-height: 10px;
	color: #ff0606
}