a {
    color: blue;
	text-decoration: none;
}

a:hover {
    color: #5959ff;
	text-decoration: underline;
}

.mainBox {
    margin: 300px auto 0;
    padding: 10px;
    width: 230px;
    border: 1px solid;
    border-color: #c3c3c3;
}

.mainBox .title {
    margin-bottom: 10px;
	border-bottom: 1px solid;
    border-color: #c3c3c3;
	text-align: center;
}

.mainBox form input[type="text"],
.mainBox form  input[type="password"] {
    margin-bottom: 5px;
	width: 226px;
}

.mainBox input[type="submit"] {
	margin-top: 10px;
}

.error {
	height: 40px;
	color: #ff0606
}

.wrapper {

}

.menu {
    width: 100px;
    min-height: 300px;
    float: left;
    margin-top: 30px;
    border-right: 1px solid #c3c3c3;
}

.content {
    float: left;
    margin-left: 20px;
}

main .title {
    margin-bottom: 10px;
}

main input,
main select {
    margin-bottom: 5px;
}

main form label {
    display: inline-block;
    width: 130px;
}

main input[type="submit"] {
	margin-top: 5px;
}

.content table,
.content tr,
.content td,
.content th {
    border-collapse: collapse;
    border: 1px solid #c3c3c3;
}
